@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Paksa background putih dan text gelap */
  html, body {
    @apply bg-slate-50 text-slate-900;
  }
}

export const metadata: Metadata = {
  title: "MAHASANTRI SITE",
  description: "Sistem Akademik Mahasantri",
  icons: {
    icon: 'https://hafizwrg.github.io/mahasantri/lo.png', // <--- Icon baru kamu
    apple: 'https://hafizwrg.github.io/mahasantri/lo.png', // Opsional: untuk iPhone/iPad
  },
};

/* Kustomisasi Scrollbar (Opsional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
